.imageText {
  position: absolute;
  top: 0;
  background: black;
  font-size: 2rem;
  padding: 1rem;
  color: white;
}
.imageText p {
  margin: 0;
}
.image_wrapper {
  position: relative;
  width: 100%;
}
.image_wrapper img {
  width: 100%;
}
.template {
  max-width: 600px;
  border-bottom: 2px solid gray;
}
.template:last-child {
  border: none;
}
